@charset "UTF-8";

div.img {
    height: 200px;
    width: 200px;
    background-image: url(https://i.imgur.com/sUGIP9A.jpg);
    margin: auto;
}

div.cursos {
    margin: 20px;
}

div.cursos li {
    text-align: left;
}

h2.tam-h2 {
    font-size: larger;
}

h2.tam-center {
    margin: 3px 3px;
}

div.cursos li.lista-sec {
    list-style-type: square;
}

p.est-p {
    font-size: large;
    text-align: left;
}

a.est-link {
    color: #28A745;
}

div.div-linkedin {
    color: #fff;
    background-color: #0274b3;
}
div.div-github {
    color: #fff;
    background-color: #8e44ad;
}
div.div-facebook {
    color: #fff;
    background-color: #2a5297;
}
div.div-instagram {
    color: #fff;
    background-color: #db1bac;
}
div.div-gmail {
    color: #fff;
    background-color: #d54b3d;
}
div.div-whatsapp {
    color: #fff;
    background-color: #46c655;
}

div.div-telegram {
    color: #fff;
    background-color: #259dcf;
}

.more-info {
    float: right;
}

