@charset "UTF-8";

div.img {
    height: 200px;
    width: 200px;
    margin: auto;
}

div.img-card {
    height: 200px;
    width: auto;
    background-color: #28a745;
}

.portfolio {
    background-color: #007bff !important;
}

div.img-card > img {
    height: 200px;
    width: auto;
}

.sites {
    width: 100% !important;
}

div.cursos {
    margin: 20px;
}

div.cursos li {
    text-align: left;
}

h2.tam-h2 {
    font-size: larger;
}

h2.tam-center {
    margin: 3px 3px;
}

div.cursos li.lista-sec {
    list-style-type: square;
}

p.est-p {
    font-size: large;
    text-align: left;
}

div.div-linkedin {
    color: #fff;
    background-color: #0274b3;
}
div.div-github {
    color: #fff;
    background-color: #8e44ad;
}
div.div-facebook {
    color: #fff;
    background-color: #2a5297;
}
div.div-instagram {
    color: #fff;
    background-image: linear-gradient(to bottom right, #624fc9, #cc39a4, #ff9048);
}
div.div-gmail {
    color: #fff;
    background-color: #d54b3d;
}
div.div-whatsapp {
    color: #fff;
    background-color: #46c655;
}

div.div-telegram {
    color: #fff;
    background-color: #259dcf;
}

li.lista {
    text-align: left;
}

.icon-lampada {
    padding: 0 .25rem;
}

/*Light Mode*/
html.light {
    background-color: #fff;
}

body.light {
    height: 100vh;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .2);
  }
  
  .masthead-light {
      color: #333;
  }
  
  .nav-link.nav-light {
      padding: .25rem 0;
      font-weight: 700;
      color: #333;
      background-color: transparent;
      border-bottom: .25rem solid transparent;
  }
  
  .nav-link.nav-light:hover,
  .nav-link.nav-light:focus {
    border-bottom-color: rgba(200, 200, 200, .25);
  }
  
  .nav-link.nav-light.active {
      color: #333;
      border-bottom-color: #333;
  }
  
  .text-muted.light {
      color:rgba(150, 150, 150, .50);
      text-shadow: none;
  }
  
  .text-muted.light a:hover {
      color: #333;
      text-decoration: none;
  }
  
  a.light {
      color: #000;
      text-decoration: underline;
  }
  
  a.light:focus,
  a.light:hover {
    color: #28a745;
  }