@charset "UTF-8";

div.img {
    height: 200px;
    width: 200px;
    background-image: url(https://i.imgur.com/sUGIP9A.jpg);
    margin: auto;
}

div.cursos {
    margin: 20px;
}

div.cursos li {
    text-align: left;
}

h2.tam-h2 {
    font-size: larger;
}

h2.tam-center {
    margin: 3px 3px;
}

div.cursos li.lista-sec {
    list-style-type: square;
}

p.est-p {
    font-size: large;
    text-align: left;
}

a.est-link {
    color: #28A745;
}

div.div-linkedin {
    color: #fff;
    background-color: #17a2b8;
}
div.div-github {
    color: #fff;
    background-color: #8e44ad;
}
div.div-facebook {
    color: #fff;
    background-color: #2980b9;
}
div.div-instagram {
    color: #fff;
    background-color: #fd79a8;
}
div.div-gmail {
    color: #fff;
    background-color: #e74c3c;
}
div.div-whatsapp {
    color: #fff;
    background-color: #2ecc71;
}

.more-info {
    float: right;
}

