@charset "UTF-8";

div.img {
    height: 200px;
    width: 200px;
    background-image: url(https://i.imgur.com/sUGIP9A.jpg);
    margin: auto;
}

div.cursos {
    margin: 20px;
}

div.cursos li {
    text-align: left;
}

h2.tam-h2 {
    font-size: larger;
}

div.cursos li.lista-sec {
    list-style-type: square;
}

p.est-p {
    font-size: large;
    text-align: left;
}

a.est-link {
    color: #27ae60;
}